* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccc;
}

.container {
    width: 1200px;
    margin: 0 auto;

}

.title, .desc {
    text-align: center;
    margin-top: 50px;
    color: blue;
}

.title{
    color: rgb(16, 12, 71);
}

.nav{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    padding: 10px;
    background-color: darkslateblue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: block;
    border-radius: 10px;
    border: 1px solid transparent;

}

.nav-link:hover{
    background-color: white;
    color: darkorchid;
    border: 1px solid darkorchid;
}

.item{
    width: 263px;
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 50px;

}
.item-pic {
    width: 100%;
    border-radius: 10px 10px 0 0 ;
}

.item-linc {
    display: block;
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.item-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

 h2, h3{
    font-size: 30px;
    line-height: 2;
    letter-spacing: 1px;
    margin-top: 50px;
    text-align: left;
    text-transform: uppercase;
    
}

.content-catalog {

    width: 1200px;
    margin: 0 auto;

}
.name-product{
    font-size: 30px;
    line-height: 2;
    letter-spacing: 1px;
    margin-top: 70px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Rubik Beastly', cursive;
}


.img-catalog {
    width: 30%;
    border-radius: 10px 10px 0 0 ;
}

.description{ 
    font-size: 20px;
    margin-top: 10px;
    text-align: left;
    text-transform: uppercase;
}